/* Additions to what the used framework offers */
img { max-width: 100%; height: auto; }

p, div {font-family: Arial, Verdana, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6, h7 {font-family: Frutiger-bold, Arial, Verdana, Helvetica, sans-serif; }
h1 {margin-top: 40px;}

#footer { background-color: #dfdfdf;}
#footer div {margin-top: 2em;}

/* classes */

.logo {padding-top: 0.5em;}
.radius {border-radius: 4px;}
.floatright {float: right; margin-left:1em; margin-bottom:1em; max-width:60%;}

div.mobile {margin-top: 0.5em;}

/* menu */
.microNav {margin-top: 1em;}

.microNav{
    /* Affects the UL element */
    overflow: hidden;
    display: inline-block;

    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;

    box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
}

.microNav li{
    /* Specifying the fallback color and we define CSS3 gradients for the major browsers: */

    background-color: #fafafa;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fafafa), color-stop(0.51, #eee));
    background-image: -moz-linear-gradient(#fafafa 0%, #eee 51%);
    background-image: -o-linear-gradient(#fafafa 0%, #eee 51%);
    background-image: -ms-linear-gradient(#fafafa 0%, #eee 51%);
    background-image: linear-gradient(#fafafa 0%, #eee 51%);

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    /* Adding a 1px inset highlight for a more polished effect: */

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position:relative;

    float: left;
    list-style: none;
}

.microNav li:after{
    /* This creates a pseudo element inslide each LI */	

    content:'.';
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity:0;

    /* Gradients! */

    background-image:-webkit-gradient(linear, left top, right top, from(rgba(168, 168, 168, 0.5)),color-stop(0.5,rgba(168, 168, 168, 0)), to(rgba(168, 168, 168, 0.5)));
    background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));

    /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */

    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;

    /* This will create a smooth transition for the opacity property */

    -moz-transition:0.25s all;
    -webkit-transition:0.25s all;
    -o-transition:0.25s all;
    transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

.microNav li:first-child{
    border-radius: 4px 0 0 4px;
}

.microNav li:first-child:after,
.microNav li.selected:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

    border-radius:4px 0 0 4px;
}

.microNav li:last-child{
    border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.microNav li:last-child:after,
.microNav li.selected:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

    border-radius:0 4px 4px 0;
}

.microNav li:hover:after,
.microNav li.selected:after,
.microNav li:target:after{
    /* This property triggers the CSS3 transition */
    opacity:0.4;
}

.microNav:hover li.selected:after,
.microNav:hover li:target:after{
    /* Hides the targeted li when we are hovering on the UL */
    opacity:0;
}

.microNav li.selected:hover:after,
.microNav li:target:hover:after{
    opacity:0.4 !important;
}

/* Styling the anchor elements */

.microNav li a{
    color: #5d5d5d;
    display: inline-block;
    /*font: 20px/1 Arial,sans-serif;*/
    padding: 0.625em; /*12px 35px 14px;*/
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:2;
    text-decoration:none !important;
    white-space:nowrap;
}

.mobile {
  display: none;
  /*position: fixed;*/
  width: 100%;
  top: 0;
}
.mobile div {
  display: none;
}
.mobile button {
  display: block;
  border: 0;
  text-indent: 300%;
  overflow: hidden;
  background: rgba(255,255,255,0.8) url("../images/hamburger.png") center no-repeat;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-background-size: 80%;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.mobile button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}
.mobile a {
  display: block; 
  font-size: 1.6em;
  line-height: 120%;
}

.mobile div {background-color: white;}

.desktop {
  display: block;
  overflow: hidden;
}

/* media queries */
@media only screen and (width: 768px) {
	/* Fix for those with exactly 769px width */
	.mobile { margin-left: 1em; } /* pushes the hamburger and menu invards */
}
@media only screen and (max-width: 768px) {
	.logo {width: 80%; height: auto; display: block; clear: both;}
	#footer { background-color: inherit; border-top: dashed 0.125em #ccc; }
	.mobile { display: block; }
	.desktop { display: none; }
}